.CustomNavLink {
    margin-left: 24px;
}

.CustomNavLink a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.54); /* text.secondary from Material-UI */
}
.CustomNavLink a:hover {
    color: #3f51b5; /* primary from Material-UI */
}

.CustomNavLink a.active {
    color: #3f51b5; /* primary from Material-UI */
}