#App .nav-bar {
    height: 60px;
}

#App .content {
    position: absolute;
    top: 0; left: 0;

    box-sizing: border-box;
    min-height: 100%;
    padding-top: 60px; /* same as nav-bar height*/
    width: 100%;
    height: 100%;
}